<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations for the purchase, <%= @user.first_name %></h1>
    <p>
      Here is all the information about your order:
      Product: 
    </p>
  </body>
</html>
