.card-box {
  min-width: 100vh;
  min-height: 100vh;
  padding-top: 15px;
}

.card-show {
  width: 100%;
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.card-name-price h2 {
  font-size: 38px;
  font-weight: bolder;
}

.card-button {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.button {
  color: white;
  font-size: 30px;
  padding: 15px 100px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.button:hover {
  text-decoration: none;
  color: white;
  background-color: #390889;
}
