<div class="footer bg-light text-dark">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div >
    <h6 class="text-center">Our Team</h6>
    <div class="team">
      <a href=""><img class="team_avatar" src="https://ca.slack-edge.com/T02NE0241-U045USVMY4U-48f94426c9d8-512" alt="Guilherme"></a>
      <a href=""><img class="team_avatar" src="https://ca.slack-edge.com/T02NE0241-U045WQ6DWEQ-edd7bd4d04ac-512" alt="Juliana"></a>
      <a href=""><img class="team_avatar" src="https://ca.slack-edge.com/T02NE0241-U045TU51PQT-903fa0de971e-512" alt="Rodolfo"></a>
      <a href=""><img class="team_avatar" src="https://ca.slack-edge.com/T02NE0241-U045SC33659-478636eb428a-512" alt="Rodrigo"></a>
    </div>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
