<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
    <div>
      <div class="banner home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("prototype.jpg")%>); min-height: 530px; background-size: cover;">
        <div class="container">
          <h1>Do you have a prototype and want to make it come true?!</h1>
    </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="banner home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("mockup.jpg")%> ) ; min-height: 530px; background-size: cover;">
        <div class="container">
          <h1>Is it hard for you to find out a team to code your appplication?</h1>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="banner home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("product.jpg")%>) ; min-height: 530px; background-size: cover;">
        <div class="container">
          <h1>We have a solution. Get started to find out nice templates of websites and aplication to make your dream comes true.</h1>
        </div>
      </div>
    </div>
    <div class="carousel-item ">
      <div class="banner home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80); min-height: 530px; background-size: cover;">
        <div class="container">
          <h1>EZ2Code brings<strong> amazing turn-key apps</strong> to <strong>creative entrepreneurs</strong>!</h1>
          <p>Change your life and build your own business with our wonderful apps.</p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
