<h1>Index Product</h1>
<ul>
  <%@products.each do |product|%>
    <li><%=link_to product_path(product) do%>
      <p><%="Produto: #{product.name}"%></p>
      <p><%="Preço: R$#{product.price}"%></p>
      <p><%="Vendedor: #{product.user.first_name}"%></p>
    </li>
    <%end%>
  <%end%>
</ul>
