
<div class="flash flash-success alert alert-dismissible fade show" role="alert">
  <span><strong>Payment Confirmed!</strong> 🎉 Congratulations, <%=current_user.first_name%>,
you just purchased the <%=@sale.product.name%> from <%=@sale.product.user.first_name%>.</span>
  <a data-bs-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div>
