<h1>User_Sales View</h1>

<ul>
  <% @sales.each do |sale| %>
    <li>
      <p><%= sale.product.name %></p>
      <p><%= number_to_currency(sale.product.price) %></p>
      <p><%= sale.product.user.first_name %></p>
    </li>
  <% end %>
</ul>
